/* style the text paragraphs */
p{
  color: white;
  font-family: Arial, sans-serif;
}

/* style all links and references */
a{
  color: white;
  font-family: Arial, sans-serif;
  left-padding: 20px;
  right-padding: 20px;
  text-decoration: none;
}

/* change the color of text when hovered over */
a:hover {
  color: orange;
}

/* style all blockquotes to match the page */
blockquote{
  color: white;
  font-family: Arial, sans-serif;
}

/* load the background image and replacement color*/
body{
  background-image: url('images/bg_alt.png');
  /* background-color: #dcba98; this is a pale orange color*/
  background-color: #000000;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  background-position: center;
}

/* container for the sections on the page */
.box {
  position: relative;
}

/* the block of text and other elements to be placed on the screen */
.block {
  display: block;
  opacity: 0.8;
  position: relative;
  top: 20px;
  left: 20px;
  right: 20px;
  background-color: black;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}

/* a nav bar */
.navbar {
  width: 100%;
  background-color: #000000;
  overflow: auto;
}

/* styling the links within the navbar */
.navbar a{
  padding: 20px
}

/* auto display the bar vertically on screens with fewer than 720 px widths */
@media screen and (max-width: 720px) {
  .navbar a {
    float: none;
    display: block;
  }
}

/* the button used display and hide content */
.collapsible {
  background-color: black;
  color: white;
  font-family: Arial, sans-serif;
  cursor: pointer;
  padding: 18px;
  width: 50%;
  border: none;
  text-align: middle;
  outline: none;
  font-size: 24px;
}

/* change the background color of the collapsible when hovered over or active */
.active, .collapsible:hover {
  background-color: orange;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: black;
}

/* Style the video: 100% width and height to cover the entire window */
#background {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}
